.solidHeaderContainer{
    height: auto;
    width: 100%;
    padding: 65px 0;
}

@media (max-width: 960px){
    .solidHeaderContainer{
        padding: 40px 0;
    }
    
}

.headerContainer {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006d71;
    height: 130px;
    transition: height 0.3s ease-in-out;
}

.innerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006d71;
    padding: 10px 20px;
    height: 100%;
    max-width: 1440px;
    width: 100%;
}

.logoLink {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 35px;
    position: relative;
}

.navItem {
    position: relative;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav a:hover {
    text-decoration: underline;
}

.navItem.hasDropdown a::after {
    content: "⮟";
    font-size: 12px;
    margin-left: 5px;
}

.consultation {
    background-color: #fa8b60;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    min-height: 55px;
    min-width: 135px;
    text-transform: uppercase;
    white-space: nowrap;
}

.consultation:hover {
    background-color: #f97a42;
}

.megaMenu {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 390px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.megaMenuContent {
    display: flex;
    max-width: 1400px;
    width: 100%;
    gap: 20px;
}

.megaMenuList {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.megaMenuList a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
}

.megaMenuList a:hover {
    background-color: #006d7130;
}

.megaMenuImages {
    flex: 3;
    display: flex;
    gap: 20px;
}

.megaMenuImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.megaMenuImageLink img {
    width: auto;
    height: 250px;
    margin-bottom: 10px;
    object-fit: contain;
}

.megaMenuImageLink:hover {
    text-decoration: none;
    opacity: 0.8;
}

.megaMenuImage a {
    color: #006d71;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.megaMenuImage a:hover {
    text-decoration: underline;
}

/* Mobile styles */
.hamburgerIcon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.hamburgerIcon span {
    height: 2px;
    width: 25px;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 5px;
}

@media (max-width: 1300px) {
    .consultation {
        display: none;
    }
}

@media (max-width: 960px) {
    .header {
        height: 80px;
    }

    .nav {
        display: none;
    }

    .hamburgerIcon {
        display: flex;
    }

    .mobileLogo {
        display: block;
        height: 45px;
        padding: 0 2rem;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background: #FFFFFF;
        width: 100%;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
        z-index: 100;
        height: max-content;
    }

    .mobileMenu a {
        padding: 1rem 2rem;
        color: #333;
        border-bottom: 1px solid #eee;
        text-align: left;
    }

    .mobileMenu a:last-child {
        border-bottom: none;
    }

    .mobileConsultation {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fa8b60;
        font-size: 18px !important;
        padding: 10px 20px;
        border-radius: 2px;
        color: white !important;
        font-weight: bold;
        min-height: 55px;
        min-width: 135px;
        text-transform: uppercase;
    }
}
