.siteButton {
  display: inline-block;
  text-decoration: none;
}

.contentWrapper {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  white-space: nowrap;
} 

.label {
  flex: 1;
}

.icon {
  flex-shrink: 0;
}